/* Stylesheet format of the left sidebar menu (categories, pages) 
* 
* sidebars.css version 0.3
* 
*/

/* --- LEFT SIDEBAR ------------------------------------------------------------------------------------------------------------------- */

/****************/
/* --- leftSidebar Loading Circle */
div.leftSidebarLoadingCircle {
    z-index: 0;
    position: absolute;
    top: 60px;
    left: 60px;
    }    

/****************/
/* --- SIDEBAR LINKS */
#leftSidebar a {
    text-decoration: none;
    color: #3A7AA5;
    /* padding-left: 17px;
    background: url("../images/icons/link.gif") no-repeat 0px 0px; */
    }
#leftSidebar a:hover {
    color: #666666;
    }


/****************/
/* ---  SIDEBAR MENU */

#leftSidebar .sidebarMenu {
    z-index: 0;
    position: relative;
    width: 210px;
    max-width: 1260px;
    overflow: hidden;
    /*border: 1px solid #000000;*/    
    }

/* top */
#leftSidebar .sidebarMenu .top {
    position: relative;
    height: 35px;
    overflow: hidden;
    white-space: nowrap;
    font-weight: bold;
    font-size: 13px;
    text-decoration: none;    
    }
        
#leftSidebar .sidebarMenu .top span {
    position: absolute;
    top: 10px;
    left: 43px;
    }
#leftSidebar .sidebarMenu .top.blue span {
    color: #536068; /* color: #668CA6; */    
    }
#leftSidebar .sidebarMenu .top.brown span {
    color: #536068; /* color: #668CA6; */ 
    }
#leftSidebar .sidebarMenu .top.grey span {
    color: #666666;
    }

/* free */
#leftSidebar .sidebarMenu.free .top.blue {
    background: url("../images/bg/sidebarMenu_freeTop_blue.png") repeat-x right top;
    }
#leftSidebar .sidebarMenu.free .top.brown {
    background: url("../images/bg/sidebarMenu_freeTop_brown.png") repeat-x right top;
    }
#leftSidebar .sidebarMenu.free .top.grey {
    background: url("../images/bg/sidebarMenu_freeTop_grey.png") repeat-x right top;
    }
/* fixed */
#leftSidebar .sidebarMenu.fixed .top.blue {
    background: url("../images/bg/sidebarMenu_fixedTop_blue.png") repeat-x right top;
    }
#leftSidebar .sidebarMenu.fixed .top.brown {
    background: url("../images/bg/sidebarMenu_fixedTop_brown.png") repeat-x right top;
    }
#leftSidebar .sidebarMenu.fixed .top.brown {
    border-right: 1px solid #EED2A3;
    }
#leftSidebar .sidebarMenu.free .top {
    border-right: 0px solid #ffffff;
    }

#leftSidebar .sidebarMenu .top img {
    display: inline-block;
    height: 35px;
    }
#leftSidebar .sidebarMenu.fixed .top img.icon {
    margin-left: 5px; /* -15px */
    }
#leftSidebar .sidebarMenu.free .top img.icon {
    margin-left: 4px;
    }
    
/* content */
#leftSidebar .sidebarMenu .content {
    position: relative;
    background-color: #EEEFF7;
    }

#leftSidebar .sidebarMenu .content.dark {
    border-right: 1px solid #666666;    
    }
#leftSidebar .sidebarMenu .content.white {
    border-right: 1px solid #BDBDB9;
    }
#leftSidebar .sidebarMenu .content.light {
    border-right: 1px solid #979797;
    }
#leftSidebar .sidebarMenu .content.brown {
    border-right: 1px solid #E6BF7C;
    }    
#leftSidebar .sidebarMenu .content.blue {
    border-right: 1px solid #89B5D6;
    }

/* ------------------------- */
/* - buttons */
#leftSidebar .sidebarMenu .content a {
    display: block;
    height: 15px; /* original 35px */
    padding: 10px 0px;
    padding-left: 18px;
    font-weight: bold;
    font-size: 11px;    
    text-decoration: none;
    color: #FBC279;
    }

/* dark */
#leftSidebar .sidebarMenu .content.dark a {
    background: url("../images/buttons/sidebarMenu_key_dark.png") repeat-x;
    color: #ffffff;
    }
#leftSidebar .sidebarMenu .content.dark a.active {
    background: url("../images/buttons/sidebarMenu_key_dark.png") repeat-x 0px -70px !important;
    color: #333333 !important;
    }
#leftSidebar .sidebarMenu .content.dark a:hover {
    background: url("../images/buttons/sidebarMenu_key_dark.png") repeat-x 0px -35px;
    color: #333333;
    }

/* white */
#leftSidebar .sidebarMenu .content.white a {
    background: url("../images/buttons/sidebarMenu_key_white.png") repeat-x;
    color: #707F81;
    }
#leftSidebar .sidebarMenu .content.white a.active {
    background: url("../images/buttons/sidebarMenu_key_white.png") repeat-x 0px -70px !important;
    color: #333 !important;
    }
#leftSidebar .sidebarMenu .content.white a:hover {
    background: url("../images/buttons/sidebarMenu_key_white.png") repeat-x 0px -35px;
    color: #ffffff;
    }

/* light */
#leftSidebar .sidebarMenu .content.light a {
    background: url("../images/buttons/sidebarMenu_key_light.png") repeat-x;
    color: #444444;
    }
#leftSidebar .sidebarMenu .content.light a.active {
    background: url("../images/buttons/sidebarMenu_key_light.png") repeat-x 0px -70px !important;
    color: #ffffff !important;
    }
#leftSidebar .sidebarMenu .content.light a:hover {
    background: url("../images/buttons/sidebarMenu_key_light.png") repeat-x 0px -35px;
    color: #ffffff;
    }
    
/* brown */
#leftSidebar .sidebarMenu .content.brown a {
    background: url("../images/buttons/sidebarMenu_key_brown.png") repeat-x;
    color: #9B6B1D;
    }
#leftSidebar .sidebarMenu .content.brown a.active {
    background: url("../images/buttons/sidebarMenu_key_brown.png") repeat-x 0px -70px !important;
    color: #ffffff !important;
    }
#leftSidebar .sidebarMenu .content.brown a:hover {
    background: url("../images/buttons/sidebarMenu_key_brown.png") repeat-x 0px -35px;
    color: #ffffff;
    }

/* blue */
#leftSidebar .sidebarMenu .content.blue a {
    background: url("../images/buttons/sidebarMenu_key_blue.png") repeat-x;
    color: #457A96;
    }
#leftSidebar .sidebarMenu .content.blue a.active {
    background: url("../images/buttons/sidebarMenu_key_blue.png") repeat-x 0px -70px !important;
    color: #ffffff !important;
    }
#leftSidebar .sidebarMenu .content.blue a:hover {
    background: url("../images/buttons/sidebarMenu_key_blue.png") repeat-x 0px -35px;
    color: #ffffff;
    }

/* ------------------------- */
/* - Pull up/down link */

#leftSidebar .sidebarMenu .top a {
    display: inline-block;
    position: absolute;
    top: 0px;
    right: 0px;
    width: 208px; /* 208px */
    height: 35px;
    text-decoration: none;    
    }

#leftSidebar .sidebarMenu .top a {
    background: url("../images/buttons/sidebarMenu_buttonUp.png") no-repeat right top;
    }
#leftSidebar .sidebarMenu.hidden .top a {
    background: url("../images/buttons/sidebarMenu_buttonDown.png") no-repeat right top;
    } 
        
#leftSidebar .sidebarMenu .top a:hover {
    background-position: right -36px;
    }


/* ------------------------- */
/* - pullToogle link */

#leftSidebar .sidebarMenu .bottom a {
    display: block;
    width: 100%;
    height: 13px; /* original 13px */ 
    text-decoration: none;
    background: url("../images/buttons/sidebarMenu_pullToogle.png") no-repeat right top;
    }
#leftSidebar .sidebarMenu .bottom a:hover {
    background-position: right -14px;
    }

/* --- sidebarMenu SPACER */
#leftSidebar .spacer {
    position: relative;
    width: 202px;
    height: 17px;
    background: url("../images/bg/sidebarMenu_spacer.png") no-repeat top left !important;
    }

#leftSidebar .spacer.arrow {
    background: url("../images/bg/sidebarMenu_spacer_arrow.png") no-repeat top left !important;
    }    

/* ------------------------- */
/* - SIDEBAR INFO */

#leftSidebar .sidebarInfo {
    position: relative;
    top: 2px;
    left: 1px;
    width: 198px;
    min-height: 260px;
    padding: 0px;
    background: url("../images/bg/leftSidebarInfo_bg.png") no-repeat;
    border-top: 1px solid #ffffff;
    }
#leftSidebar .sidebarInfo div.content {
    position: relative;
    width: 165px;
    margin: 20px 20px;
    margin-right: 13px;
    font-size: 10px;
    overflow: hidden;
    }
  
#leftSidebar .sidebarInfo h1 {
    padding: 0px;
    margin: 0px;
    margin-top: 4px;
    margin-bottom: 8px;    
    font-weight: bold;
    font-size: 11px;
    color: #666666;
    }
#leftSidebar .sidebarInfo p {
    color: #C57F3D;
    margin: 2px 0px;
    margin-bottom: 12px;
    }
#leftSidebar .sidebarInfo hr {    
    height: 0px;
    margin: 15px 0px;
    border: none;
    border-top: 1px solid #E2E3E3;
    }

#leftSidebar .sidebarInfo ul {
    margin: 0px;
    margin-left: 6px;
    }
#leftSidebar .sidebarInfo ul li {    
    margin: 3px 0px;
    margin-left: 7px;
    margin-bottom: 20px;
    color: #888888;
    list-style: circle;
    }

/* ------------------------- */
/* - SIDEBAR LOG */

/* --------------------- */
/* -------> TASK LOKG */
#sidebarTaskLog {
  z-index: 1;
  position: relative;
  height: 450px;
  width: 200px; /* hides the scrollbar */
  border-bottom: 1px solid #ffffff;
  overflow: auto;
  font-size: 9px;
  margin: 0px -10px;
}

#sidebarTaskLog ul li {
  display: block;
  width: 150px;
  list-style: none !important;
}
    
#leftSidebar .scrollUpDown {
  z-index: 2;
  position: absolute;
  height: 30px;
  width: 165px;
}

/* --------------------- */
/* -------> LIST USERS */

#sidebarListUsers {
  margin-left: 27px !important;
}

#sidebarListUsers li {
  list-style: none !important;
  margin: 0px !important;
  padding: 3px 0px !important;
}

#sidebarListUsers li span {
  background: none;
}

/* --------------------- */
/* -------> SIDEBAR SELECTION */

#sidebarSelection li {
  list-style: none !important;
  margin: 0px !important;
  padding: 8px 0px;
}
    
/* --- RIGHT SIDEBAR ------------------------------------------------------------------------------------------------------------------- */

/* --- sortPagesMessageBox */

#rightSidebarMessageBox .content {
    z-index: 2;
    position: relative;
    top: 0px;
    left: 0px;
    width: 170px;
    padding: 20px;
    padding-bottom: 5px;
    background: url("../images/bg/rightSidebar_bg.png") repeat-y;
    color: #666666;
    line-height: 18px;
    }
#rightSidebarMessageBox .bottom {
    z-index: 2;
    position: absolute;
    bottom: -25px;
    left: 0px;
    width: 210px;
    height: 25px;
    background: url("../images/bg/rightSidebar_bgBottom.png") no-repeat;
    }

#rightSidebarMessageBox ul {
  list-style: circle;
  padding-left: 10px;
}

/* --- hintIcon */

#rightSidebarMessageBox .hintIcon {
    position: relative;
    display: block;
    left: 50px;
    margin-bottom: 13px;
    }

/* --- currentVisitors */

#currentVisitorsSideBar .content {
  padding: 0px 7px 0 7px;
  width: 196px;
}
#currentVisitorsSideBar .content > div {
  max-height: 500px;
  overflow: auto;
}

#currentVisitorsSideBar table {
  width: 100%;
}
#currentVisitorsSideBar td {
  font-size: 11px;
  padding: 2px 0;
  padding-left: 15px;
}
#currentVisitorsSideBar img {
  margin-top: 3px;
}
#currentVisitorsSideBar h1 {
  text-align: center;
  border-bottom: 1px dotted #ccc;
  margin-bottom: 10px;
  padding-top: 10px;
}