/*
* Stylesheets für den Internet Explorer
* 
*/


/****************/
/* --- ELEMENTS */
hr {
  display : list-item;
  list-style : url("image/sign/hr.png") inside;
  filter : alpha(opacity=0);
  margin-left: 0px;
  width : 0;
  }
  
/****************/
/* --- SIDEBAR MENU */ 

div.sidebarMenu {
    z-index: 2;
    position: absolute;
    top: 20px;
    width: 275px;
    }

div.sidebarMenu.left {    
    left: -260px;
    }
div.sidebarMenu.right {
    right: -260px;
    }