   .fadeBox {
   background:url("http://l.yimg.com/a/i/ydn/right-col-box-bg.gif") repeat-x scroll 0 0 transparent;
   border:1px solid #D9D9D9;
   margin:1em 0;
   text-align:left;
   width:23em;
   }

.fadeBox p.title {
   color:#0992ea;
   font-family:Arial,sans-serif;
   font-size:108%;
   font-weight:bold;
   margin:0.6em 0.4em 0.4em;
   padding:0;
   text-transform:uppercase;
 }

#moo-search-module-inputs input {
margin-right:0.5em;
padding:0.1em;
width:15em;
margin: 0.7em 0.7em;
}

#moo-search-module-results ul{
font-family: helvetica,verdana,sans-serif,arial;
font-size: 12px;
margin-top: -4px;
margin-left: -12px
}
#moo-search-module-results ul li{
list-style-type: square;
}
#moo-search-module-results ul li a{
color: #0992ea;
text-decoration:none;
}

#moo-search-module-results ul li a:hover{
text-decoration: underline;
}

#moo-search-module-results p{margin-left: 10px}
