php_value memory_limit 50M
php_value upload_max_filesize 20M
php_value post_max_size 20M
php_value max_execution_time 200
php_value max_input_time 200
# secure htaccess file
<Files .htaccess>
 order allow,deny
 deny from all
</Files>
# enable caching of images and compressed delivery
<IfModule mod_expires.c>
  # turn on the module for this directory
  ExpiresActive on
  # set default
  #ExpiresDefault "access plus 24 hours"
  # cache common graphics for 15 days
  ExpiresByType image/jpg "access plus 15 days"
  ExpiresByType image/gif "access plus 15 days"
  ExpiresByType image/jpeg "access plus 15 days"
  ExpiresByType image/png "access plus 15 days"
  # cache CSS for 24 hours
  ExpiresByType text/css "access plus 24 hours"
  # cache other for 24 hours
  ExpiresByType text/javascript "access plus 24 hours"
  ExpiresByType application/x-javascript "access plus 24 hours"
  ExpiresByType application/x-shockwave-flash "access plus 24 hours"
</IfModule>
<IfModule mod_deflate.c>
  # compress content with type html, text, and css
  AddOutputFilterByType DEFLATE text/html text/plain text/css text/javascript application/x-javascript application/x-httpd-php
  <IfModule mod_headers.c>
    # properly handle requests coming from behind proxies
    Header append Vary User-Agent
    Header append Vary Accept-Encoding
  </IfModule>
</IfModule>
