/* Stylesheet format of the left sidebar menu (categories, pages) 
* 
* rightSidebar.css version 0.1
* 
* */

/* ----------------------- */
/* --- sortPagesMessageBox */

#rightSidebarMessageBox .content {
    z-index: 2;
    position: relative;
    top: 0px;
    left: 0px;
    width: 170px;
    padding: 20px;
    padding-bottom: 5px;
    background: url("../image/bg/rightSidebar_bg.png") repeat-y;
    color: #666666;
    line-height: 18px;
    }
#rightSidebarMessageBox .bottom {
    z-index: 2;
    position: absolute;
    bottom: -25px;
    left: 0px;
    width: 210px;
    height: 25px;
    background: url("../image/bg/rightSidebar_bgBottom.png") no-repeat;
    }

/* --- hintIcon */

#rightSidebarMessageBox .hintIcon {
    position: relative;
    display: block;
    left: 50px;
    margin-bottom: 13px;
    }
