/* Stylesheet format of the left sidebar menu (categories, pages) 
* 
* sidebar.css version 0.22
* 
* sidebarMenu und sidebarInfo */

/* ----------------------- */
/* --- sidebarMenu SPACER */
#leftSidebar .spacer {
    position: relative;
    width: 202px;
    height: 17px;
    background: url(../image/bg/sideBarMenu_spacer.png) repeat-x;
    }

/* ----------------------- */
/* --- sidebarMenu */

.sidebarMenu {
    z-index: 0;
    position: relative;
    width: 210px;
    max-width: 1260px;
    overflow: hidden;
    /*border: 1px solid #000000;*/
    }

/* top */
.sidebarMenu .top {
    position: relative;
    height: 35px;
    overflow: hidden;
    white-space: nowrap;
    font-weight: bold;
    font-size: 14px;
    text-decoration: none;    
    }
        
.sidebarMenu .top span {
    position: absolute;
    top: 9px;
    left: 43px;
    }
.sidebarMenu .top.blue span {
    color: #536068; /* color: #668CA6; */    
    }
.sidebarMenu .top.brown span {
    color: #536068; /* color: #668CA6; */ 
    }
  
.sidebarMenu.free .top.blue {
    background: url(../image/bg/sidebarMenu_freeTop_blue.png) repeat-x right top;
    }
.sidebarMenu.free .top.brown {
    background: url(../image/bg/sidebarMenu_freeTop_brown.png) repeat-x right top;
    } 
.sidebarMenu.fixed .top.blue {
    background: url(../image/bg/sidebarMenu_fixedTop_blue.png) repeat-x right top;
    }
.sidebarMenu.fixed .top.brown {
    background: url(../image/bg/sidebarMenu_fixedTop_brown.png) repeat-x right top;
    }
.sidebarMenu.fixed .top.brown {
    border-right: 1px solid #EED2A3;
    }
.sidebarMenu.free .top {
    border-right: 0px solid #ffffff;
    }

.sidebarMenu .top img {
    display: inline-block;
    height: 35px;
    }
.sidebarMenu.fixed .top img.icon {
    margin-left: 5px; /* -15px */
    }
.sidebarMenu.free .top img.icon {
    margin-left: 4px;
    }
    
/* content */
.sidebarMenu .content {
    position: relative;
    background-color: #EEEFF7;
    }

.sidebarMenu .content.dark {
    border-right: 1px solid #666666;    
    }
.sidebarMenu .content.light {
    border-right: 1px solid #979797;
    }
.sidebarMenu .content.brown {
    border-right: 1px solid #E6BF7C;
    }    
.sidebarMenu .content.blue {
    border-right: 1px solid #89B5D6;
    }

/* ------------------------- */
/* - buttons */
.sidebarMenu .content a {
    display: block;
    height: 19px; /* original 35px */
    padding: 8px 0px;
    padding-left: 18px;
    font-weight: bold;
    font-size: 12px;    
    text-decoration: none;
    color: #FBC279;
    }

/* dark */
.sidebarMenu .content.dark a {
    background: url(../image/key/sidebarMenu_key_dark.png) repeat-x;
    color: #ffffff;
    }
.sidebarMenu .content.dark a.active {
    background: url(../image/key/sidebarMenu_key_dark.png) repeat-x 0px -70px !important;
    color: #ffffff !important;
    }
.sidebarMenu .content.dark a:hover {
    background: url(../image/key/sidebarMenu_key_dark.png) repeat-x 0px -35px;
    color: #333333;
    }

/* light */
.sidebarMenu .content.light a {
    background: url(../image/key/sidebarMenu_key_light.png) repeat-x;
    color: #444444;
    }
.sidebarMenu .content.light a.active {
    background: url(../image/key/sidebarMenu_key_light.png) repeat-x 0px -70px !important;
    color: #444444 !important;
    }
.sidebarMenu .content.light a:hover {
    background: url(../image/key/sidebarMenu_key_light.png) repeat-x 0px -35px;
    color: #ffffff;
    }
    
/* brown */
.sidebarMenu .content.brown a {
    background: url(../image/key/sidebarMenu_key_brown.png) repeat-x;
    color: #9B6B1D;
    }
.sidebarMenu .content.brown a.active {
    background: url(../image/key/sidebarMenu_key_brown.png) repeat-x 0px -70px !important;
    color: #BE8423 !important;
    }
.sidebarMenu .content.brown a:hover {
    background: url(../image/key/sidebarMenu_key_brown.png) repeat-x 0px -35px;
    color: #ffffff;
    }

/* blue */
.sidebarMenu .content.blue a {
    background: url(../image/key/sidebarMenu_key_blue.png) repeat-x;
    color: #457A96;
    }
.sidebarMenu .content.blue a.active {
    background: url(../image/key/sidebarMenu_key_blue.png) repeat-x 0px -70px !important;
    color: #668CA6 !important;
    }
.sidebarMenu .content.blue a:hover {
    background: url(../image/key/sidebarMenu_key_blue.png) repeat-x 0px -35px;
    color: #ffffff;
    }

/* ------------------------- */
/* - Pull up/down link */

.sidebarMenu .top a {
    display: inline-block;
    position: absolute;
    top: 0px;
    right: 0px;
    width: 208px; /* 208px */
    height: 35px;
    text-decoration: none;    
    }

.sidebarMenu .top a {
    background: url(../image/key/sidebarMenu_buttonUp.png) no-repeat right top;
    }
.sidebarMenu.hidden .top a {
    background: url(../image/key/sidebarMenu_buttonDown.png) no-repeat right top;
    } 
        
.sidebarMenu .top a:hover {
    background-position: right -36px;
    }


/* ------------------------- */
/* - pullToogle link */

.sidebarMenu .bottom a {
    display: block;
    width: 100%;
    height: 13px; /* original 13px */ 
    text-decoration: none;
    background: url(../image/key/sidebarMenu_pullToogle.png) no-repeat right top;
    }
.sidebarMenu .bottom a:hover {
    background-position: right -14px;
    }

/* ------------------------- */
/* - SIDEBAR INFO */

.sidebarInfo {
    position: relative;
    top: 2px;
    width: 198px;
    min-height: 260px;
    padding: 0px;
    background: url(../image/bg/sidebarInfo_bg.png) no-repeat;
    border: 1px solid #ffffff;
    }
.sidebarInfo div {
    position: relative;
    width: 165px;
    margin: 20px 20px;
    margin-right: 13px;
    font-size: 10px;
    overflow: hidden;
    }
  
.sidebarInfo h1 {
    padding: 0px;
    margin: 0px;
    margin-top: 2px;
    margin-bottom: 5px;
    
    font-weight: bold;
    font-size: 11px;
    color: #666666;
    }
.sidebarInfo p {
    color: #C57F3D;
    margin: 2px 0px;
    margin-bottom: 12px;
    }
.sidebarInfo hr {    
    height: 0px;
    margin: 15px 0px;
    border: none;
    border-top: 1px dotted #666666;
    }

.sidebarInfo ul {
    margin: 2px 0px;
    margin-left: 6px;
    }
.sidebarInfo ul li {    
    margin: 3px 0px;
    margin-left: 8px;
    margin-bottom: 8px;
    color: #888888;
    list-style: circle;
    }