
/* this class just shows the grid in the exampleAddon */
.showGridBlocks {
  background-color: #ccc;
  margin-top: 15px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -moz-background-clip: padding; -webkit-background-clip: padding-box; background-clip: padding-box;
}